body {
    font-family: Arial, sans-serif;
    background: #0852ae;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    width: 380px;
    background: #0baeb4;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 2px solid #d1d5db;
    border-radius: 8px;
}

#addBtn {
    padding: 10px 15px;
    background: #2563eb;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

#addBtn:hover {
    background: #1d4ed8;
}

ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

li {
    background: #f3f4f6;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.buttons button {
    margin-left: 6px;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.boke{
    background-color: #1c1742;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.edit-btn { background: #10b981; color: #fff; }
.delete-btn { background: #ef4444; color: #fff; }
.save-btn { background: #3b82f6; color: #fff; }
