.card{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    margin-top: 2px;   
}
.card-image{
    width: 10%;
    height: auto;
    border-radius: 1px;
}
.button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.student-info{
    margin-top: 100px;
    font-size: 24px;
    color: #ffffff;
    background: #0e6089;
    padding: 10px;
}
